.row::after {
    content: "";
    clear: both;
    display: grid;
    }
@media only screen and (max-width: 767px){
    [class*="col-"] {
        width: 80%;
    }
    .talha-A-header {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        color: #ffffff;
        padding: 10px;
        height: auto; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        border-radius: 20px;
      }
      .talha-A-header:hover {
        background-image: linear-gradient(135deg, #667eea 30%, #764ba2 70%);
        color: #ffffff;
        padding: 10px;
        height: 20%; 
        border-radius: 20px;
        box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.7);
      }
      
      .talha-A-name {
        font-size: 30px;
        font-family: Verdana, Tahoma, sans-serif;
        margin: 0; 
      }
      .talha-A-navbar{
        padding: 10px;
      }
      .talha-A-nav-button{
        border-bottom: 2px solid rgba(255,255,255,0.5);
        border-top:2px solid rgba(255,255,255,0.5);
        font-size: small;
        color: black;
        padding: 4px;
        margin: 5px 5px 10px 10px;
        height: 10%;
        text-align: center;
        border-radius: 10px;
        transition: border-radius 0.5s, box-shadow 0.5s, opacity 0.5s, transform 0.5s, text-shadow 0.5s;
      }
      .talha-A-nav-button:hover{
        background-color: #f2f2f2;
        opacity: 0.6;
        text-shadow:0px 0px 0px rgba(0,0,0,0.5); 
        transform:scale(1.1);
      }
      a, .talha-A-nav-button {
        text-decoration: none;
        font-size: medium;
        color:black;
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-display: swap;
      }

      .talha-A-Footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:10px;
        background-color: rgba(255,255,255,0.3);
        border-radius: 50px;
        border:5px solid black;
      }
      .talha-A-icon{
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 20%;
        background-repeat: no-repeat;
      background-position: auto;
      position:relative;
      transition:witdh 0.5s, height 0.5s, border-radius 0.5s, box-shadow 0.5s;
      }
      .talha-A-icon:hover{
        width: 60px;
        height: 60px;
        border-radius: 30%;
        box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.5);
      }
      .talha-A-rights{
        border-radius:30px;
        border: 3px solid black;
        background-color: rgba(31, 85, 32, 0.273);
        color:white;
        text-align: center;
        padding: 10px;;
      }
      .talha-A-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
      }
      .talha-A-card{
        width:100%;
        height:auto;
        border:3px solid black;
        padding: 10%;
        margin:10px;
        transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
      }
      .talha-A-card:hover{
        background-color: rgba(255,255,255,0.3);
        box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.7);
        transform: scale(1.1);
        animation: rotates ease-in-out 1s;
      }
    
        @keyframes rotates {
            0% {
              transform: rotateZ(0deg);
            }
            100% {
              transform: rotateZ(360deg);
            }
          }
      .talha-A-card-img{
        width:100%;
        height:auto;
      }
    .talha-A-project-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        border:4px solid black;
        background-color: rgba(0,0,0,0.5);
        margin:10%;
    }
    .talha-A-img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10%;
    
    }
     .talha-A-project-img
    {
        align-self: center;
        width:100%;
        height: 40vi;
        border-radius: 10px;
        transform:rotateY('30deg')
    }
    p{
        font-size: 20px;
        font-family: Verdana, Tahoma, sans-serif;
        text-align: center;
        margin: 10px;
        padding: 10px;;
    
    }
    .talha-A-moving-head{
        text-align: center;
      margin:3%;
    animation: highlights 2s infinite;
    }
    @keyframes highlights {
        0% {
          transform: scale(1);
          translate: 30px;
        }
        50% {
            transform:scaleY(1.5);
            translate: 50px;
          color:black;
        }
        100% {
          transform: scale(1);
          translate: 30px;
        }
      }
    

}

@media only screen and (min-width: 768px){
    [class*="col-"] {
        float: left;
        padding: 10px;
    }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.talha-A-header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #ffffff;
    padding: 10px;
    height: 10%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
  }
  .talha-A-header:hover {
    background-image: linear-gradient(135deg, #667eea 30%, #764ba2 70%);
    color: #ffffff;
    padding: 10px;
    height: auto; 
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.7);
  }
  
  .talha-A-name {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0; 
  }
  .talha-A-navbar{
    padding: 10px;
    height: 10%;
    z-index: 1000;
  }
  .talha-A-nav-button{
    display: flex;
    justify-content: center;
    border:3px solid black;
    background-color: white;
    font-size: small;
    opacity: 0.7;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin: 5px 5px 10px 10px;
    height: 10%;
    box-shadow: 4px 4px 2px 2px rgba(0,0,0,0.7);
    transition: border-radius 0.5s, box-shadow 0.5s, opacity 0.5s, transform 0.5s, text-shadow 0.5s;
  }
  .talha-A-nav-button:hover{
    background-color: #f2f2f2;
    opacity: 1;
    outline:2px solid white;
    border-radius: 30px;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.5);
    text-shadow:0px 0px 0px rgba(0,0,0,0.5); 
    transform:scale(1.1);
  }
  a,.talha-A-nav-button {
    text-decoration: none;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display: swap;
  }

.talha-A-Footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin:10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50px;
    border:5px solid black;
  }
  .talha-A-icon{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 20%;
    transition:witdh 0.5s, height 0.5s, border-radius 0.5s, box-shadow 0.5s;
  }
  .talha-A-icon:hover{
    width: 60px;
    height: 60px;
    border-radius: 30%;
  }
  .talha-A-rights{
    border-radius:30px;
    border: 3px solid black;
    background-color: rgba(31, 85, 32, 0.273);
    color:white;
    text-align: center;
    padding: 10px;;
  }
  .talha-A-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }
  .talha-A-card{
    width:100%;
    height:auto;
    border:3px solid black;
    padding: 10%;
    margin:10px;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
  }
  .talha-A-card:hover{
    background-color: rgba(255,255,255,0.3);
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.7);
    transform: scale(1.1);
    animation: rotates ease-in-out 1s;
  }

    @keyframes rotates {
        0% {
          transform: rotateZ(0deg);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }
  .talha-A-card-img{
    width:100%;
    height:auto;
  }
.talha-A-project-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border:4px solid black;
    background-color: rgba(0,0,0,0.5);
    margin:10%;
}
.talha-A-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;

}
 .talha-A-project-img
{
    align-self: center;
    width:100%;
    height: 40vi;
    border-radius: 10px;
    transform:rotateY('30deg')
}
p{
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;;

}
.talha-A-moving-head{
    text-align: center;
  margin:3%;
animation: highlights 2s infinite;
}
@keyframes highlights {
    0% {
      transform: scale(1);
      translate: 30px;
    }
    50% {
        transform:scaleY(1.5);
        translate: 50px;
      color:black;
    }
    100% {
      transform: scale(1);
      translate: 30px;
    }
  }

}
*{
    box-sizing: border-box;
    }
    body{
      background-color:#1e0750da
  }
html {
font-family: Verdana, Tahoma, sans-serif;
color:white;
}